/* main */
@media (max-width: 767px) {
    body{font-size: 1.6em;}
}

#header-logo{
    position:relative;
}

#header-grass{
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    margin-right: 0px;
    padding: auto;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 10;
}

#header-grass2{
	background: url('../img/grass2.png') repeat-x 0 -42px;
	width: 100%;
	height: 66px;
    z-index: 10;
    position: absolute;
    bottom: 0;
}

a {
    color: #338618;
    /*background-color: #4581F5;*/
}

a:hover, a:focus{
    /*background-color: #64B749;*/
    background-color: #1E7103;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 80%;

}

.nav-right{
    border-left: 1px solid #777;
}

.nav-right ul{
    list-style: none;
    padding-left: 10px;
}

.nav-mobile ul{
    list-style: none;
    padding-left: 10px;
}

.nav-mobile ul{
    float: left;
    padding-left: 10px;
}

.nav-mobile{
    float: right;
    padding: 20px;
}

#menu-icon {
	width: 40px;
	height: 40px;
}

.nav-line{
    margin: 6px;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #43BF1D;
    border-radius: 1px;
}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

/* Mobile nav*/

a.to-nav {
    float: right;
    color: #fff;
    background: #333;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 28px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.to-nav:hover,
a.to-nav:focus {
    color: #1c1c1c;
    background: #33791D;
}

/*navigation*/

#mobile-nav-xs ul {
    list-style: none;
    background: #1c1c1c;
    padding: 5px 0;
}

#mobile-nav-xs li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    height: 1.5em;
    border-bottom: 1px solid #383838;
}

#mobile-nav-xs li:last-child a {
    border-bottom: none;
}

#mobile-nav-xs li a:hover,
#mobile-nav-xs li a:focus {
    color: #1c1c1c;
    background: #ccc;
}

#mobile-nav-sm ul {
    display: table;
    width: 100%;
    list-style: none;
    background: #1c1c1c;
    padding: 5px 0;
}

#mobile-nav-sm li{
    display: table-cell;
    background-color: #338618;
    text-align: center;
}

#mobile-nav-sm li a {
    display: block;
    color: #fff;
    padding: 0px 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    height: 1.5em;
}

.post-excerpt *{
    font-size: 0.8em;
}

.sidebar-section ul li{
    border-bottom: 1px solid #777;
    margin: 10px 0;
}

.post-header { text-align: center; margin-bottom: 0; }
.post-meta {
    text-align: center;
    color: #a0a0a0;
}

.social-share * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


/*FOOTER*/

footer{
    background-color: #338618;
}

#footer-row{
    /*border-top: 1px solid #338618;*/
    font-size: small;
    padding: 10px 20px;
}

#footer-row ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

#footer-row li {
    display: inline-block;
    padding: 0 5px;
}

#footer-row a {
    background-color: inherit;;
    color: #eee;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}
