{% extends "blog/layout.html" %}
{% block content %}
<h1 class="text-center">What is this? Who are we?</h1>

<p>
    We want to change the world (or atleast try to) by spreading awareness about interesting topics which we feel aren't talked about enough.
</p>
<p>
    Topics will mainly revolve around anthropology and philosophy, but in a very easy to undestand fashion! But don't worry, you don't need a PhD to understand what we talk about, because we ourselves are just average joes :)
</p>
{% endblock %}
