<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block static %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'blog/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
<!-- <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'> -->
    {% endblock %}
    {% block script %}{% endblock %}
    {% block style %}{% endblock %}
    {% block social %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
<footer>
<div class="container">
    <div class="row">
        <div class="col-md-9">
        <div class="row" id="footer-row">
            <div class="col-xs-12">
                <ul>
                    <li><a href="{% url 'contact' %}">contact</a></li>
                    <li><a href="{% url 'support' %}">support</a></li>
                    <!-- <li><a href="mailto:gaia@earthlyhumans.com">gaia@earthlyhumans.com</a></li> -->
                </ul>
            </div>
        </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
</footer>
</html>
