{% extends "blog/base.html" %}
{% load staticfiles %}
{% block body %}
<div class="container">
    <div class="row" style="position:relative;">
            <img class="img-responsive center-block" style="height:250px;" src="{% static 'blog/logo/earthlyhumans_logo.png' %}" alt="earthlyhuman_logo" />
            <div class="row visible-xs" style="position:absolute;top:20px;right:30px;">
                <a class="to-nav" href="#mobile-nav">EXPLORE</a>
                <!-- <div class="nav-mobile" style="">
                    <a href="#" id="menu-icon">
                        <span class="nav-line"></span>
                        <span class="nav-line"></span>
                        <span class="nav-line"></span>
                    </a>
                    <ul>
                        <li><a href="{% url 'front' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'support' %}">Show some love</a></li>
                    </ul>
                </div> -->
            </div>
    </div>
    <div class="row " id="mobile-nav-sm">
        <ul>
            <li><a href="{% url 'front' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'about' %}">Archives</a></li>
            <li><a href="{% url 'about' %}">Contact</a></li>
            <li><a href="{% url 'support' %}">Support</a></li>
        </ul>
    </div>
    <br>
    <div class="row">
        <div class="col-md-9">
            <h2 class="text-center">Test Lorem Post</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm nav-right">
            <ul>
                <li><a href="{% url 'front' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'support' %}">Show some love</a></li>
            </ul>
        </div>
    </div>
    <div class="row hidden-md hidden-lg" id="mobile-nav">
        <div class="col-xs-12 hidden-sm" id="mobile-nav-xs">
            <ul>
                <li><a href="{% url 'front' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'about' %}">Archives</a></li>
                <li><a href="{% url 'about' %}">Contact</a></li>
                <li><a href="{% url 'about' %}">Show some love</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
